<footer>
    <div class="left">
        <div><h1>R. Kelly</h1></div>
        <div><a href="javascript: void(0)" onclick="loadContent('womansthreat')">A Womans Threat</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('icanfly')">I Can Fly</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('iwish')">I Wish</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('worldsgreatest')">The Worlds Greatest</a></div>
    </div>
    <div class="left">
        <div><h1>Timbaland</h1></div>
        <div><a href="javascript: void(0)" onclick="loadContent('allyall')">All Yall</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('bombay')">Bombay</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('problems')">99 Problems</a></div>
    </div>
    <div class="right">
        <div><h1>Busta Rhymes</h1></div>
        <div><a href="javascript: void(0)" onclick="loadContent('putyourhandswhere')">Where My Eyes Can See</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('breakyaneck')">Break Ya Neck</a></div>
    </div>
    <div class="right">
        <div><h1>Kanye West</h1></div>
        <div><a href="javascript: void(0)" onclick="loadContent('familybuisiness')">Family Business</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('spaceship')">Spaceship</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('driveslow')">Drive Slow</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('champion')">Champion</a></div>
        <div><a href="javascript: void(0)" onclick="loadContent('bigbrother')">Big Brother</a></div>
    </div>
    <p>Copyright MakiAmaa Productions &copy; 2025</p>
</footer>
