<nav>
    <a href="/">Home</a>
    <a href="/date/120924/users/currentuser/1795028364/contact">Contact</a>
    <a href="/date/121024/users/currentuser/1923807465/time">Time</a>
    <a href="/date/121024/users/currentuser/1294857360/fortune">Fortune</a>
</nav>