@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kiwi+Maru&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* { box-sizing: border-box; }

body {
    background: #272727;
    color: #ddd;
    margin: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

nav {
    padding: 10px 40px;
    background: #121212;
}

nav a {
    text-decoration: none;
    color: #32a2f2;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background: #040404;
    padding: 12px 20px;
    display: flex;
    flex-wrap: wrap;
}

footer > div {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
}

footer h1 {
    font-size: 1.2em;
    color: #626262;
}

footer a {
    text-decoration: none;
    color: #31e8ee;
    line-height: 28px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    flex-basis: 100%;
    margin: 50px 0 15px 0;
    color: #909090;
}

section {
    padding: 66px 22px;
    text-align: center;
}

.sec-1 {
    background: #efefef;
    color: #121212;
    display: flex;
}

.sec-1 > div {
    flex: 1 1 100%;
}

.right { text-align: right; }

/* image slider/carousel */

.slider {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    border: 2px solid #ddd;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform .45s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

/* animation for text to come down offscreen */
.sec-1 div {
    position: relative;
    transition: transform 0.3s ease-out;
}

.slide-in {
    transform: translateY(-100vh); /* Start out of frame */
}

.show {
    transform: translateY(0); /* Normal position */
}

@media only screen and (max-width: 720px) {
    footer > div { flex: 1 1 50%; }
}

@media only screen and (max-width: 480px) {
    footer > div { flex: 1 1 100%; }
    section { padding: 33px 10px; }
    .left,
    .right { text-align: center; }
}
